@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans";
}

.navbar {
    position: fixed;
    height: 100vh;
    background-color: #FFF;
    width: 80px;
    transition: width 1s ease-in-out;
    box-shadow: 0px 0px 32px 9px rgba(0, 0, 0, 0.25);
}

.navbar-nav {
    list-style: none;
}

.navbar-link-text {
    display: none;
}

.navbar-item:last-child .navbar-link-text {
    color: red;
}

.navbar-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
}

.navbar-logo-container img {
    height: 60px;
    left: -2;
}

.logo-text {
    padding-left: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #0087FF;
}

.navbar-item:hover {
    background-color: #eeeeee;
    opacity: 0.8;
}

.navbar-item {
    padding: 0px 20px;
}

.navbar-link {
    text-decoration: none;
    color: #2A2D37;
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.navbar-link img {
    padding-right: 10px;
}

.navbar:hover {
    width: 250px;
    transition: width 1s ease-in-out;
}

.navbar:hover .navbar-link-text {
    display: inline-block;
}